*{
    padding: 0;
    margin: 0; 
    box-sizing: border-box;
}

body{ 
    /* mobile first */
    display: grid;
    grid-template-columns:1fr;
    grid-template-rows: auto;

    grid-template-areas:
    "header"
    "main" 
    "footer";
}

header{
    grid-area: header;
}
main{
    grid-area: main;
}
footer{
    grid-area: footer;
}


/* **   HEADER   */
.cabezera {
    background-color: rgb(252, 119, 1);
    color: black
    } 
.cabezera a:hover{ 
    background-color:darkorange;
    border-radius: 10px;
} 

/* **   MAIN */
.cuerpo{ 
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: whitesmoke;
}


/* ultimos ingresos */
.ultimos-ingresos{
    max-width: 490px;
}
.img-container{
    width: 100%;
    border: 1px solid rgb(202, 202, 202);
}

.img-container div img{ 
        width: 100%;
        height: 400px;
        object-fit:fill;
}
.boton-carrusel{
    background-color: black;
}

.ultimos-ingresos h2{
    text-align: center;
    font-size: 2.5rem;
    padding:2rem;
}


/* ofertas hasta agotar stock */
.ofertas-agotar-stock h2{
    font-size: 3rem; 
    text-align: center;
    padding:2rem;
}
.ofertas-agotar-stock{ 
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-cards div{
    margin-bottom: 2rem;
    background-color: lightgray;
}

.caja-cards div img{ 
    object-fit: cover;
}

.texto-desc h5{
    font-size: 3rem;
}

.texto-desc p{
    font-size: 1.5rem;
}
.texto-desc a{
    font-size: 1.5rem;
    padding: 1rem;
}
/* branding  */

.branding{
    padding:2.5rem; 
    font-style: italic;
}
.branding h2 {
    font-size:2.5rem;
    text-align: center;
    padding-bottom: 2rem;
}
/* ** FOOTER */

.pie-de-pagina{ 
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    background-color: rgb(252, 119, 1);
}

.pie-de-pagina h2{
    font-size:2rem;
}

.pie-de-pagina a{ 
    color:white; 
    text-decoration: none;
    font-size: 1.5rem;
}
.pie-de-pagina a:hover{ 
    background-color: darkorange;
    border-radius: 10px;
}

.redes-sociales ul{
    list-style: none;
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.redes-sociales h2{ 
    padding-left: 1rem;
    padding-top: 2rem;
}

.trabaja-con-nosotros{ 
    display: flex;
    flex-direction: column;
    gap: 1rem;
    padding: 1rem;
}

.trabaja-con-nosotros h2{ 
    padding-top: 1rem;
}

.derechos{ 
    text-align: center;
    padding: 1rem;
    font-size: 1rem;
    opacity: 0.5;
}


/** formulario contacto* */
.formulario{
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
    max-width: 600px;
    margin: 2rem;
    background-color: darkorange;
    border:2px solid lightgray;
    border-radius: 10px;
}
.formulario h2{
    text-align: center;
    padding: 1.5rem;
    font-size: 2.5rem;
    color:white;
}

.formulario div{ 
    margin: 1.5rem;
}
.formulario div label{
    font-size: 1rem;
    color:black
}

.formulario .boton{ 
    display: flex;
    justify-content: center;
    align-items: center;
}

.formulario button{ 
    background-color: green;
    color:white;
    margin-bottom:2rem;
    font-size: 1.8rem;
    border-radius: 5px;
}
.formulario button:hover{ 
    background-color: darkgreen;
    color: white;
}

/* *sobre nosotros* */

.cuerpo-sobre-nosotros{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: red;
    max-width: 350px;
    margin: 1.5rem auto;
    background-color: darkorange;
    border:2px solid lightgray;
    border-radius: 10px;
}
.quienes-somos{
    text-align: left;
    padding:2rem;
}
.quienes-somos h2{ 
    text-align: center;
    font-size:2rem;
    padding-bottom: 1rem;
}
.quienes-somos p{
    font-size: 1.2rem;
    line-height: 1.6;
}
.video-muestra{ 
    display: flex;
    flex-direction: column;
    align-items: center;

}
.video-muestra h2{
    text-align: center;
    padding: 1.5rem;
    font-size: 2rem;
}
.video-muestra iframe{ 
    width: 310px;
    height: 200px;
    margin-bottom: 2rem;
    border-radius: 10px;
}

.titulo-section-preguntas-frecuentes{ 
    text-align: center;
    padding: 2rem 1rem;
    font-size: 2rem;
}


/* *productos* */

.caja-productos{
    display: flex; 
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.item-caja{ 
    margin-bottom: 5rem;
}
.item-caja > div{
    border:3px solid orangered;
    margin: 5rem 2rem;
    border-radius: 10px;
    background-color: orange;
}


.item-caja div div{ 
    max-width: 400px;
}

.item-caja div div img{ 
    width: 100%;
    height: 300px;
    border: 3px solid orangered;
    border-radius:8px;
}
.item-caja div h5{ 
    font-size: 2rem;
}
.item-caja div button{ 
    color: white;
    background-color:green;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    border: 3px solid darkgreen; 
    margin: 0.5rem 0;
}

.item-caja div p small{ 
    font-size: 1rem;
}

